# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.env
*.venv
env/
venv/
ENV/
.venv/
*.egg-info


# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VSCode
.vscode/

# Logs
logs/
*.log

# Environment files
.env
.env.*

# Build output
dist/
build/
out/

#Results
phase_diagrams*
res/
scripts/test.py
